---
import MainLayout from "../layouts/MainLayout.astro";
import type {PokemonListResponse} from "../interfaces/pokemon-list.interface"
import PokemonCard from "../components/pokemons/PokemonCard.astro";
import Title from "@components/shared/Title.astro";

const res = await fetch('https://pokeapi.co/api/v2/pokemon')
const data = (await res.json()) as PokemonListResponse

const title = "Pokemon Home";

---

<MainLayout title={title}>
	<Title>Listado de Pokemons</Title>  
	<hr>

	<section arial-label="Pokemon"
	class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5 ">
	
	{data.results.map((pokemon) => <PokemonCard name={pokemon.name} url={pokemon.url} />)}

	</section>
	
</MainLayout>